* {
  box-sizing: border-box;
}

body {
     background-image: url("images/hands.png");
     background-size: cover;
     color: white;
 }

#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 650px;
  
}

.column {
  float: left;
  width: 50%;
  margin: auto;
  padding: 5px;
  
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  color: white;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}